<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="nav-div" th:fragment="navigation">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <ul class="nav navbar-nav m-auto">
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="/request" class="nav-link">Request New Account</a>
                </li>
                <li class="nav-item">
                    <a href="#documentation" class="nav-link">Documentation</a>
                </li>
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link">Request Archive</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>