.bg-blue{
    background-color: #002855;
    color: #FFFFFF;
}
.nav-bottom-green{
    border-bottom: #5dbb46 solid 10px;
}

.ndx-header{
    border-radius: 0;
}

.ndx-btn-color{
    background-color: #002855;
    color: #5dbb46;
}

.ndx-btn-color a,
.ndx-btn-color a:hover,
.ndx-btn-color a:active,
.ndx-btn-color a:visited{
    color: #5dbb46;
}

.color-green,
.color-green a,
.color-green a:hover,
.color-green a:visited,
.color-green a:active{
    color: #5dbb46;
}
.card-500{
    width: 500px;
}
.form-450{
    width: 450px;
}
.error-card{
    width: 400px;
    display: block;
    margin: auto;
}
.error-title{
    font-size: xxx-large;
    font-weight: bolder;
    color: #002855;
}

.error-tag{
    color: red;
    font-size: medium;
    font-weight: bold;
}

.lms-nav-btn-group{
    display: inline-flex;
}
#wrapper {
    min-height: calc(100vh - 70px);
    margin-bottom: -50px;
}

.footer
{
    text-align: center!important;
}
