<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta  http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Ndx Validate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue nav-bottom-green">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">CAVE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="/request" class="nav-link">Request New Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="#documentation" class="nav-link">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a href="/processed/requests/complete" class="nav-link">Request Archive</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="ndx-btn-color btn" value="Sign Out">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="check-template p-2">
    <div class="card mt-5">
        <div class="card-header ndx-header nav-bottom-green bg-blue">
            <h4>Push back on requester to make changes to the request form</h4>
        </div>
        <div class="controls-actions container pb-3">
            <form id="sendEmail" class="mt-2" method="post">
                <input type="hidden" id="requestId"  th:value="${accountRequest.accId}" >

                <label  for="message"> <h4>Send Email Message to <span th:text="${accountRequest.mtUserName}"></span></h4></label>
                <div  class="input-group mb-4">
                    <textarea type="text" class="form-control"   id="message" name="message" value="message"> </textarea>
                </div>
                <div>
                    <h5>Upon send, request is placed back in request queue for edits you can provide user with request id in message</h5>
                </div>

                <div class="text-center">
                    <input  type="submit" class="ndx-btn-color btn" value="Send">
                </div>


            </form>
        </div>
    </div>
    <div class="m-4 text-center">
        <div >
            <a href="/process/request_complete.html" th:href="@{/process/run-request/{id}(id = ${accId})}" class="ndx-btn-color mx-2 px-2 btn">
                <i class="fas fa-running"></i> Run
            </a>
            <a href="/dashboard/edit_request.html" class="ndx-btn-color px-2 mx-2 btn" th:href="@{/edit_request/{id}(id=${accId})}" ><i class="far fa-edit"></i> Edit</a>
        </div>
    </div>
    <div class="card mt-5 bg-white">
        <div class="card-header ndx-header bg-blue nav-bottom-green">
           <h4>Checking Account Request for Errors</h4>
        </div>
        <div class="card-body">
            <div class="request-mode mt-4">
                <h4 class="color-green">Request Mode: <span th:text="${ndxMode.mode}"></span></h4>
            </div>
            <div class="check-entry p-2  table-responsive mt-4">

                <table class="table">
                    <thead class="table-light">

                            <h4 class="text-center">Checking for Similar Doctor</h4>

                        <tr>
                            <th scope="col">Warning</th>
                            <th scope="col">Doctor#</th>
                            <th scope="col">Doctor Name</th>
                            <th scope="col">License #</th>
                            <th scope="col">NPI #</th>
                            <th scope="col">Customer #</th>
                            <th scope="col">Practice Name</th>
                            <th scope="col">CustomerAddress</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Creation details</th>
                            <th scope="col">Active</th>
                            <th scope="col">Deleted</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="s : ${similarDoc}">
                            <td th:text="${s.warning}"></td>
                            <td th:text="${s.doctorNumber}"></td>
                            <td th:text="${s.firstName +' ' + s.lastName}"></td>
                            <td th:text="${s.licenseNumber}"></td>
                            <td th:text="${s.NPINumber}"></td>
                            <td th:text="${s.customerId}"></td>
                            <td th:text="${s.PracticeName()}"></td>
                            <td th:text="${s.CustomerAddress() + ' '+ s.City() + ' ' + s.State()}"></td>
                            <td th:text="${s.OfficePhone()}"></td>
                            <td th:text="${s.createdBy + ' ' + s.createdOn}"></td>
                            <td th:text="${s.active}"></td>
                            <td th:text="${s.deleted}"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table mt-3">
                    <thead  class="table-light">

                            <h4 class="text-center mt-5">Checking Existing Doctors</h4>

                    <tr>
                        <th scope="col">Checking</th>
                        <th scope="col">Warning</th>
                        <th scope="col">Doctor#</th>
                        <th scope="col">Doctor Name</th>
                        <th scope="col">License #</th>
                        <th scope="col">NPI #</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Created On</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="e: ${existingDoc}">
                        <td th:text="${e.checking}"></td>
                        <td th:text="${e.warning}"></td>
                        <td th:text="${e.doctorNumber}"></td>
                        <td th:text="${e.firstName + ' ' + e.lastName}"></td>
                        <td th:text="${e.licenseNumber}"></td>
                        <td th:text="${e.NPINumber}"></td>
                        <td th:text="${e.CreatedBy()}"></td>
                        <td th:text="${e.CreatedOn()}"></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table mt-3">
                    <thead  class="table-light">

                    <h4 class="text-center mt-5">Checking Existing Customer</h4>

                    <tr>

                        <th scope="col">Warning</th>
                        <th scope="col">Customer #</th>
                        <th scope="col">DentalGroup</th>
                        <th scope="col">Practice Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">State</th>
                        <th scope="col">City</th>
                        <th scope="col">ZipCode</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Created On</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="d: ${existingCus}">

                        <td th:text="${d.warning}"></td>
                        <td th:text="${d.customerID}"></td>
                        <td th:text="${d.getDentalGroup()}"></td>
                        <td th:text="${d.getPracticeName()}"></td>
                        <td th:text="${d.getAddress1()}"></td>
                        <td th:text="${d.getState()}"></td>
                        <td th:text="${d.city}"></td>
                        <td th:text="${d.getZipCode()}"></td>
                        <td th:text="${d.getOfficePhone()}"></td>
                        <td th:text="${d.createdBy}"></td>
                        <td th:text="${d.createDate}"></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table mt-3">

                    <thead  class="table-light">

                    <h4 class="text-center mt-5">Checking Similar Customer</h4>

                    <tr>

                        <th scope="col">Warning</th>
                        <th scope="col">Customer #</th>
                        <th scope="col">DentalGroup</th>
                        <th scope="col">Practice Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">State</th>
                        <th scope="col">City</th>
                        <th scope="col">ZipCode</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Created On</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="f: ${similarCus}">
                        <td th:text="${f.warning}"></td>
                        <td th:text="${f.customerID}"></td>
                        <td th:text="${f.getDentalGroup()}"></td>
                        <td th:text="${f.getPracticeName()}"></td>
                        <td th:text="${f.getAddress1()}"></td>
                        <td th:text="${f.getState()}"></td>
                        <td th:text="${f.city}"></td>
                        <td th:text="${f.getZipCode()}"></td>
                        <td th:text="${f.getOfficePhone()}"></td>
                        <td th:text="${f.createdBy}"></td>
                        <td th:text="${f.createDate}"></td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>

    <div class="m-4 text-center">
        <div >
            <a href="/process/request_complete.html" th:href="@{/process/run-request/{id}(id = ${accId})}" class="ndx-btn-color mx-2 px-2 btn">
                <i class="fas fa-running"></i> Run
            </a>
            <a href="/dashboard/edit_request.html" class="ndx-btn-color px-2 mx-2 btn" th:href="@{/edit_request/{id}(id=${accId})}" ><i class="far fa-edit"></i> Edit</a>
        </div>
    </div>
</div>
</body>
<footer >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/2effb491bc.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript">
        const contextpath = /*[[@{/}]]*/ "/";
        let csrfHeaderName = "[[${_csrf.headerName}]]";
        let csrfValue = "[[${_csrf.token}]]";
    </script>

    <script type="text/javascript">
        $(document).ready(function (){
            $("#sendEmail").submit(function (event){
                event.preventDefault();
                ajaxPost();
            });

            function ajaxPost(){
                let formData = {
                    requestId: $("#requestId").val(),
                    message: $("#message").val(),



                };

                let requestId = $("#requestId").val();
                let url = contextpath + "api/request/sendEmail/"+requestId;

                $.ajax({
                    type : "POST",
                    contentType : "application/json",
                    url : url,
                    beforeSend: function(xhr){
                        xhr.setRequestHeader(csrfHeaderName, csrfValue);
                    },
                    data : JSON.stringify(formData),
                    dataType : 'json',
                    success : function (response){
                        window.location.assign("http://localhost:8080/lms");
                        console.log(response);
                    },
                    error: function (e){
                        console.log("Error: ", e);
                        console.log("data: ", JSON.stringify(formData))
                        window.location.assign("http://localhost:8080/lms");
                    }

                });
            }
        })
    </script>
</footer>
</html>