<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta  http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Ndx Validate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue nav-bottom-green">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">CAVE </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="/request" class="nav-link">Request New Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="#documentation" class="nav-link">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a href="/processed/requests/complete" class="nav-link">Request Archive</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="btn ndx-btn-color" value="Sign Out">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="card mt-5 bg-white">
        <div class="card-header bg-blue nav-bottom-green ndx-header">
            <h4> Processing Request: <span th:text="${accountRequest.accId}"></span></h4>
        </div>

        <div class="container mt-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Key</td>
                        <td>Value</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       <td> Facility ID</td>
                        <td th:text="${accountRequest.labName}"></td>
                    </tr>
                    <tr>
                        <td > Same Day Rush</td>
                        <td th:text="${accountRequest.isRush}"></td>
                    </tr>
                    <tr>
                        <td >IS DHS</td>
                        <td th:text="${accountRequest.dhs}"></td>
                    </tr>
                    <tr>
                        <td>Request By</td>
                        <td th:text="${accountRequest.mtUserName}"></td>
                    </tr>
                    <tr>
                        <td>Existing Doctor Number</td>
                        <td th:text="${accountRequest.docId}"></td>
                    </tr>
                    <tr>
                        <td> Existing Customer Number</td>
                        <td th:text="${accountRequest.customerId}"></td>
                    </tr>
                    <tr>
                        <td> Dental Group Name</td>
                        <td th:text="${accountRequest.DGroup}"></td>
                    </tr>
                    <tr>
                        <td >Practice Name</td>
                        <td th:text="${accountRequest.PName}"></td>
                    </tr>
                    <tr>
                        <td> First Name</td>
                        <td th:text="${accountRequest.FName}"></td>
                    </tr>
                    <tr>
                        <td> Last Name</td>
                        <td th:text="${accountRequest.LName}"></td>
                    </tr>
                    <tr>
                        <td>Shipping Address 1</td>
                        <td th:text="${accountRequest.add1}"></td>
                    </tr>
                    <tr>
                        <td>Shipping Address 2</td>
                        <td th:text="${accountRequest.add2}"></td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td th:text="${accountRequest.city}"></td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td th:text="${accountRequest.state}"></td>
                    </tr>
                    <tr>
                        <td>Zip Code</td>
                        <td th:text="${accountRequest.zip}"></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td th:text="${accountRequest.phone}"></td>
                    </tr>

                    <tr>
                        <td>Customer Email</td>
                        <td th:text="${accountRequest.email}"></td>
                    </tr>
                    <tr>
                        <td> License #</td>
                        <td th:text="${accountRequest.licenseNo}"></td>
                    </tr>
                    <tr>
                        <td>NPI #</td>
                        <td th:text="${accountRequest.npi}"></td>
                    </tr>
                    <tr>
                        <td>Notes</td>
                        <td th:text="${accountRequest.notes}"></td>
                    </tr>
                </tbody>
            </table>

            <div class="container mt-1">
                <div class="m-5 text-center">
                    <div class="btn ndx-btn-color p-2">
                        <a href="/process/check_request.html" th:href="@{/check/request/{id}(id= ${accountRequest.accId})}" class="btn ndx-btn-color">
                            <h2>CHECK</h2>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


</body>
<footer >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/2effb491bc.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</footer>
</html>